[mysqld]
server_id=102
log-bin

# ポート指定
port = 3306

# 同時最大接続数
max_connections = 4096

# GTIDモード有効
gtid_mode = on
enforce_gtid_consistency = on

# 文字コード指定
character_set_server = utf8mb4

# ファイル関連
## データファイル
datadir = /var/lib/mysql
log-error=/var/log/mysql/error.log

# スロークエリログの管理
slow_query_log = /var/log/mysql/slow_query_log.log
long_query_time = 5


[client]
default_character_set = utf8mb4